.itemBox {
    position: absolute;
    top: 300px;
    margin: 10px 100px;
    display: flex;
    justify-content: space-around;
}

.itemInform{
    display: flex;
    justify-content: space-around;
}

.itemBoy{
    background: #FFFFFF;
    border: 1px solid  #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    color: #4F4F4F;
    cursor: grab;
}
