.addclass {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C10016;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.addProduct {
    position: absolute;
    width: 600px;
    height: 400px;
    background-color: #F2F2F2;
    top: 25%;
    right: 31%;
    border-radius: 5px;
}

.addCategory2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boxCategory2{
    width: 110px;
    height: 74px;
    margin: 5px;
}
